{% extends "layout.html" %}
{% block content%}

<h1>Data Dosen</h1>
<table class="table">
	<thead class="thead">
		<tr>
			<th scope="col">Nama</th>
			<th scope="col">NIDN</th>
			<th scope="col">Tlp</th>
			<th scope="col">Alamat</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Mustamin Hamid</td>
			<td>1281778472</td>
			<td>0813xxxxxx</td>
			<td>Tidore</td>
		</tr>	
		<tr>
			<td>Mustamin Hamid</td>
			<td>1281778472</td>
			<td>0813xxxxxx</td>
			<td>Tidore</td>
		</tr>
		<tr>
			<td>Mustamin Hamid</td>
			<td>1281778472</td>
			<td>0813xxxxxx</td>
			<td>Tidore</td>
		</tr>
	</tbody>
</table>

<h1>Mata Kuliah</h1>
<table class="table">
	<thead class="thead">
		<tr>
			<th scope="col">Mata Kuliah</th>
			<th scope="col">SKS</th>
			<th scope="col">Keterangan</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Pemrograman WEB 1</td>
			<td>3</td>
			<td>selesai</td>
		</tr>	
		<tr>
			<td>Pemrograman WEB 2</td>
			<td>3</td>
			<td>selesai</td>
		</tr>
		<tr>
			<td>Hosting WEB</td>
			<td>3</td>
			<td>belum</td>
		</tr>
	</tbody>
</table>

<h1>Jadwal</h1>
<table class="table">
	<thead class="thead-brown darken-4">
		<tr>
			<th scope="col">Hari</th>
			<th scope="col">Jam</th>
			<th scope="col">Dosen</th>
			<th scope="col">Mata Kuliah</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>2019-11-28 08:24:00</td>
			<td>08:30</td>
			<td>Mustamin</td>
			<td>Pemrograman WEB 1</td>
		</tr>	
		<tr>
			<td>2019-11-28 08:24:00</td>
			<td>10:30</td>
			<td>Mustamin</td>
			<td>Pemrograman WEB 2</td>
		</tr>
		<tr>
			<td>2019-11-29 09:24:00</td>
			<td>11:30</td>
			<td>Mustamin</td>
			<td>Hosting WEB</td>
		</tr>
	</tbody>
</table>

{% endblock content %}